<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Roster_Dev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Roster_Dev.Properties.Settings>
            <setting name="UpperDepartmentCode" serializeAs="String">
                <value>upperDeptCode</value>
            </setting>
            <setting name="UpperDepartmentName" serializeAs="String">
                <value>upperDeptName</value>
            </setting>
            <setting name="Memo" serializeAs="String">
                <value>upperDeptMemo</value>
            </setting>
        </Roster_Dev.Properties.Settings>
    </userSettings>
</configuration>